.body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.rem:hover{
    background-color: rgb(183, 168, 149);
}

.rem {
    background-color: rgb(215, 241, 232);
    height: 200px;
    width: 600px;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 5px 3px 4px 6px rgb(108, 98, 98);
}

button{
    margin: 80px;
    padding: 12px;
    border: 2px solid black;
    border-radius: 5px;
    font-size: 16px;
    box-shadow: 1px 3px 3px 2px rgb(87, 65, 65);
    background-color: rgb(215, 241, 232);
}

button:hover{
    background-color: rgb(108, 72, 72);
    color: white;
}

p {
    font-size: 20px;
    font-family: cursive;
}