
*
{
    margin:0;
    padding: 0;
}
.outer
{
    height: 750px;
    width:750px;
    margin:0px auto;
    border:1px solid red;
}
.box_row
{
height: 300px;
width:750px;
background: #fc8596;
}
.box
{
    height: 200px;
    width:200px;
    float: left;
    background: #ccc;
}
.v_lad
{
    height: 300px;
    width:150px;
    background: #ed8541;
    float: left;
}
.circle
{
    height: 50px;
    width:50px;
    background: #f07485;
    margin:25px;
    border-radius: 50%;
    box-sizing: border-box;
    float: left;
}
.border_red
{
    border:5px solid red;
}
.border_green
{
    border:5px solid green;
}
.border_blue
{
    border:5px solid blue;
}
.border_yellow
{
    border:5px solid yellow;
}
.v_lad_row
{
    height: 50px;
    width:150px;
    background: #dd7485;
}
.v_lad_cell
{
    height: 50px;
    width:50px;
    border:1px solid #000;
    box-sizing: border-box;
    float: left;
    text-align: center;
}
.red
{
    background: red;
}
.green
{
    background: green;
}
.blue
{
    background: blue;
}
.yellow
{
    background: yellow;
}
.middle_row
{
    height: 150px;
    width:750px;

}
.h_lad
{
    height: 150px;
    width:300px;
    background: #ff4152;
    float: left;
}
.h_lad_row
{
    height: 50px;
    width: 300px;
    background: #ffc857;
    float: left;
}
.h_lad_cell
{
    height: 50px;
    width:50px;
    border:1px solid #000;
    float: left;
    box-sizing: border-box;
    text-align: center;
}
.ludo_home
{
    height: 0;
    width: 0;
    border-left:75px solid red;
    border-right:75px solid yellow;
    border-top:75px solid green;
    border-bottom:75px solid blue;
    float: left;	
}
.star
{
    font-size: 32px;
    text-align: center;
}
.dice {
    width: 100px;
    height: 100px;
    background-color: lightgray;
    text-align: center;
    font-size: 48px;
    line-height: 100px;
    border-radius: 10px;
    margin: 20px auto;
    cursor: pointer;
}
.player-turn {
    text-align: center;
    margin-top: 20px;
}
.dice {
    width: 100px;
    height: 100px;
    background-color: lightgray;
    text-align: center;
    font-size: 48px;
    line-height: 100px;
    border-radius: 10px;
    margin: 20px auto;
    cursor: pointer;
}
.player-turn {
    text-align: center;
    margin-top: 20px;
}


